<%= form_for @user, :url => user_path(@user), :html => { :method => :delete } do |f| %>
    <h2>Are you sure you want to destroy this account?</h2>
    <p>
      <%= submit_tag "Destroy" %>
      or <%= link_to "cancel", users_path %>
    </p>
<% end %>

